$background-color: rgb(2, 15, 2);
$color-primary: rgb(20, 163, 20);
$color-secondary: white;
$jumbo-height: 65vh;
$navbar-height: 5vh;

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100%;
  background-color: $background-color;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  /* On met l'overflow x parce que sinon ont peu scorller et voir les autres photos */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  color: $color-secondary;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: $color-secondary;
  font-size: 2.5rem;
  text-align: center;
  margin: auto;
}

header {
  height: 100vh;
}

.icone-lazy {
  filter: blur(20px);
}

.navbar {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-secondary;
  height: $navbar-height;
  width: 100%;
  &__left {
    display: flex;
    justify-content: left;
    padding: 0%;
    align-items: center;
    &--link {
      margin-left: 1rem;
      & a {
        color: $color-secondary;
      }
    }
  }
  &__right {
    margin-right: 1rem;
  }
  animation: navbarFadeIn 1s ease-in-out;
}

@keyframes navbarFadeIn {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.navlink {
  &:after {
    display: block;
    content: "";
    border-bottom: 2px solid $color-secondary;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }
}

.nav-sticky {
  position: fixed;
  top: 0px;
  z-index: 50;
  background-color: $background-color;
}

.titre {
  height: calc(100vh - $navbar-height - $jumbo-height);
  padding-top: 4rem;
  &__sur {
    width: 75%;
    margin: auto;
    opacity: 0;
    animation: titleFadeIn 1s 0.3s ease-in-out forwards;
  }
  &__sous {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    width: 75%;

    animation: subtitleFadeIn 1s 0.5s ease-in-out forwards;
    & h2 {
      color: $background-color;
      font-size: 1.5rem;
      font-family: "Roboto", sans-serif;
      -webkit-text-stroke: 1.3px $color-secondary;
    }
  }
}

@keyframes titleFadeIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes subtitleFadeIn {
  0% {
    transform: translateY(250%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.jumbo {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  height: $jumbo-height;
  &__pic {
    position: relative;
    width: 33%;
    height: $jumbo-height;
    overflow: hidden;
    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-color: $background-color;
      height: 100%;
      min-width: 100%;
    }
    &--1::after {
      animation: coverFadeOut 1s 1s ease-in-out forwards;
      transform-origin: top;
    }
    &--2::after {
      width: 101%;
      animation: coverFadeOut 1s 1.2s ease-in-out forwards;
      transform-origin: top;
    }
    &--3::after {
      animation: coverFadeOut 1s 1.4s ease-in-out forwards;
      transform-origin: top;
    }
  }
}

@keyframes coverFadeOut {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
  margin: auto;
  margin-top: 5rem;
  width: 95%;
  height: 70vh;
  &__text {
    width: 35%;
    & p {
      color: $color-secondary;
      width: 80%;
      margin: auto;
      margin-top: 2rem;
      text-align: center;
      font-style: italic;
      font-size: 1.2rem;
    }
  }
  &__pictures {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 65%;
    margin-left: 2rem;
    gap: 1rem;
  }
}

.item {
  width: 32%;
  border-radius: 5px;
  color: $color-secondary;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  transition: width 700ms ease;
  &:hover {
    width: 120%;
    .item__vert {
      opacity: 0;
    }
    .item__horiz {
      opacity: 1;
    }
  }
  &__horiz {
    opacity: 0;
    transition: opacity 1000ms ease;
    position: absolute;
    bottom: 1rem;
    & h3 {
      width: 90%;
      margin: auto;
      font-size: 2rem;
    }
    & p {
      width: 90%;
      margin: auto;
    }
  }
  &__vert {
    transform: rotate(-90deg);
    font-size: 2.5rem;
    position: absolute;
    bottom: 6rem;
    left: -7rem;
    transition: opacity 200ms ease;
    white-space: nowrap;
    &--huiles {
      bottom: 8.5rem;
      left: -9rem;
    }
    &--homeo {
      bottom: 5.5rem;
    }
  }
}

.sticky-pic {
  margin-top: 5rem;
  min-width: 100%;
  &__container {
    height: 80vh;
    min-width: 100%;
    background: url("../../src/images/sticky/ext_pharma.jpeg") no-repeat fixed;
    background-size: cover;
  }
}
